# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
backend/.env
!backend/.env.contract.example
!backend/.env.example

# Hardhat
artifacts/
cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
.next/

# Lockfiles
package-lock.json
yarn.lock
